<strong>Olá, {{ deliveryman }}</strong>
<p>Há uma nova encomenda definida para você, configura os detalhes abaixo:</p>
<p>
  <h1>Encomenda:</h1>
  <strong>ID:</strong> {{ id }} <strong>Produto:</strong> {{ product }} <br />
  <h2>Endereço:</h2>
  <strong>Remetente:</strong> {{ name }} <br />
  <strong>Rua:</strong> {{ street }} <strong>Número:</strong> {{ number }} <br />
  <strong>Complemento:</strong> {{ complement }} <br />
  <strong>Cidade:</strong> {{ city }} <strong>Estado:</strong> {{ state }} <br />
  <strong>CEP:</strong> {{ cep }} <br />
  <br />
</p>